.game-area {
  width: 100%;
  max-width: 900px;
  height: 500px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
